

h1{
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
    font-size: 5.625rem;
    line-height: 0.5;
}
h2{
    color: #66BFBF;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
    font-family: "Montserrat", sans-serif;
}
body{
    color:#40514E;
    margin:0;
    text-align: center;
    font-family: "Merriweather", serif;
}
a{
    color:#118286;
    font-family: "Montserrat", sans-serif;
    margin:10px 10px;
    text-decoration: none;
}
a:hover{
    color:#77B0AA;
}
p{
    line-height: 2;
}
hr{
    border: dotted #135D66 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}


.top-container{
    background-color: #E3FEF7;
    padding:100px 100px 0;
    position:relative;
}
.middle-container{
    margin: 100px 0 ;
}
.bottom-container{
    background-color: #E3FEF7;
    padding: 50px 0 20px;
}
.bottom-cloud{
    position:absolute;
    left:190px;
    bottom:350px;
}
.top-cloud{
    position:absolute;
    top:20px;
    right:190px;
}
.mountain{
    width:70%;
    
}
#profile-photo{
    border-radius: 50%;
    height: 190px;
    width: 175px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

}
.graphic-design{
    width: 25%;
    float: left;
    margin-right:30px;
}
.content-writing{
    width: 25%;
    float: right;
    margin-left:30px;
}
.intro{
    width: 30%;
    margin: auto;
}

.contact-message{
    width:40%;
    margin: 40px auto 60px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}
.copyright{
    color:#77B0AA;
    font-size: 0.85rem;
    padding: 20px 0;
}
